#password-lost-form-wrap {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	.som-password-sent-message {
		@include font-size(18px);
		border-top-color: #8fae1b;
		border-bottom: none;
		border-left: none;
		border-right: none;
		border-radius: 0;
		background: rgba(143,174,27,.1);
		color: #596c11;
	}

	.somfrp-lost-pass-form-text + div {
		padding: 40px 20px 0;
		border: 1px solid #eee;
		margin-bottom: 40px;
	}

	legend {
		color: $red;
		margin-bottom: .5em;
		font-size: 1.7777em;
		font-weight: 600;
	}

	p {
		@include font-size(22px);
		color: $smoke;

		&.no-margin {
			border: 1px solid #eee;
			padding: 40px 20px;
		}
	}
}